ome-syslog-kafka-dff-version.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"37cd2261-c756-499d-8500-b5d407ffe904","version":0,"timestamp":1684162533881,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"3a70a5aa-36df-4977-bb37-69dc3dc49d44","instanceIdentifier":null,"name":"ome-syslog-kafka-dff","comments":null,"position":null,"processGroups":[{"identifier":"ad8d132e-98b9-495e-a61a-b2b42bbc3455","instanceIdentifier":null,"name":" syslog_s3_kafka_dff","comments":null,"position":{"x":210.0,"y":157.0},"processGroups":[{"identifier":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee","instanceIdentifier":null,"name":"payload-parser","comments":null,"position":{"x":-324.8509941101074,"y":143.5214080810547},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"89b14eaa-d29d-4ac5-a2ec-5ef738562915","instanceIdentifier":null,"name":"EvaluateJsonPath","comments":"","position":{"x":665.253173828125,"y":306.73516845703125},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","bucket":"$.s3.bucket.name","key":"$.s3.object.key","region":"$.awsRegion"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee"},{"identifier":"33c96063-5fd4-4e20-8e44-f534234e55c4","instanceIdentifier":null,"name":"SplitJson","comments":"","position":{"x":16.0,"y":287.5},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.Records"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee"}],"inputPorts":[{"identifier":"9e436bcf-3d51-480c-bc9b-1f3cbb0d5a15","instanceIdentifier":null,"name":"payload","comments":null,"position":{"x":50.72509765625,"y":63.54924774169922},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"INPUT_PORT","groupIdentifier":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee"}],"outputPorts":[{"identifier":"c831029b-34f2-42b1-9a2b-ced6e8791e67","instanceIdentifier":null,"name":"S3TriggerParsed","comments":null,"position":{"x":706.1340158233296,"y":70.61064862865135},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee"}],"connections":[{"identifier":"188b8382-cfa1-4ef6-8a2c-6ffc41631ed2","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"33c96063-5fd4-4e20-8e44-f534234e55c4","type":"PROCESSOR","groupId":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"89b14eaa-d29d-4ac5-a2ec-5ef738562915","type":"PROCESSOR","groupId":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee"},{"identifier":"adbb9264-f83b-4406-a257-14eaa34f5f25","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"89b14eaa-d29d-4ac5-a2ec-5ef738562915","type":"PROCESSOR","groupId":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c831029b-34f2-42b1-9a2b-ced6e8791e67","type":"OUTPUT_PORT","groupId":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee"},{"identifier":"8cdf3919-9b90-4ff0-9086-8554449d63a7","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9e436bcf-3d51-480c-bc9b-1f3cbb0d5a15","type":"INPUT_PORT","groupId":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"33c96063-5fd4-4e20-8e44-f534234e55c4","type":"PROCESSOR","groupId":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee"}],"labels":[],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"ome-syslog-kafka-dff","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ad8d132e-98b9-495e-a61a-b2b42bbc3455"}],"remoteProcessGroups":[],"processors":[{"identifier":"a340ef40-1b59-4b70-9297-dda66b78a2b3","instanceIdentifier":null,"name":"write_syslog_json_file","comments":"","position":{"x":375.635009765625,"y":15.425994873046875},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{aws_access_id}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","proxy-user-password":null,"Content Type":null,"Secret Key":"#{aws_secret_key}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{destination_bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"#{Region}","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ad8d132e-98b9-495e-a61a-b2b42bbc3455"},{"identifier":"321ab6cc-7a5f-4b17-bc6f-c18a8640f4ff","instanceIdentifier":null,"name":"fetch_syslog_file","comments":"","position":{"x":-282.48448181152344,"y":513.3194046020508},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{aws_access_id}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${key}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"${bucket}","Version":null,"proxy-user-password":null,"Communications Timeout":"30 secs","Region":"#{Region}","Secret Key":"#{aws_secret_key}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ad8d132e-98b9-495e-a61a-b2b42bbc3455"},{"identifier":"1221b78c-ff96-45d2-bde2-fc6712c9eecf","instanceIdentifier":null,"name":"filter_syslogs","comments":"","position":{"x":381.728759765625,"y":503.01165771484375},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"0771fc4c-5c92-411e-a9f7-cd929bfb018a","record-reader":"21ec19e5-abfe-4158-9bb4-04644c4eab5a","include-zero-record-flowfiles":"true","dbf-default-scale":"0","filtered_syslogs":"#{filter_rule}"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ad8d132e-98b9-495e-a61a-b2b42bbc3455"}],"inputPorts":[{"identifier":"e7eb7d00-b47c-4806-aca8-c9bd5b4681a7","instanceIdentifier":null,"name":"trigger-payload","comments":null,"position":{"x":-255.95049285888672,"y":-107.47315216064453},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"INPUT_PORT","groupIdentifier":"ad8d132e-98b9-495e-a61a-b2b42bbc3455"}],"outputPorts":[],"connections":[{"identifier":"ee5c9bc7-eefe-4fca-8e6d-f495cc1d204c","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"1221b78c-ff96-45d2-bde2-fc6712c9eecf","type":"PROCESSOR","groupId":"ad8d132e-98b9-495e-a61a-b2b42bbc3455","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"a340ef40-1b59-4b70-9297-dda66b78a2b3","type":"PROCESSOR","groupId":"ad8d132e-98b9-495e-a61a-b2b42bbc3455","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["filtered_syslogs"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad8d132e-98b9-495e-a61a-b2b42bbc3455"},{"identifier":"2248014c-2e52-4d57-851e-c742b9973a67","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"e7eb7d00-b47c-4806-aca8-c9bd5b4681a7","type":"INPUT_PORT","groupId":"ad8d132e-98b9-495e-a61a-b2b42bbc3455","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9e436bcf-3d51-480c-bc9b-1f3cbb0d5a15","type":"INPUT_PORT","groupId":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad8d132e-98b9-495e-a61a-b2b42bbc3455"},{"identifier":"693093c9-2b8e-4eec-9829-f5860ec52029","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"321ab6cc-7a5f-4b17-bc6f-c18a8640f4ff","type":"PROCESSOR","groupId":"ad8d132e-98b9-495e-a61a-b2b42bbc3455","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"1221b78c-ff96-45d2-bde2-fc6712c9eecf","type":"PROCESSOR","groupId":"ad8d132e-98b9-495e-a61a-b2b42bbc3455","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad8d132e-98b9-495e-a61a-b2b42bbc3455"},{"identifier":"d3437117-2182-4d6f-87d7-7db15a0cc2ca","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c831029b-34f2-42b1-9a2b-ced6e8791e67","type":"OUTPUT_PORT","groupId":"2f4406ba-800f-4e70-88d1-86e1c2d5fdee","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"321ab6cc-7a5f-4b17-bc6f-c18a8640f4ff","type":"PROCESSOR","groupId":"ad8d132e-98b9-495e-a61a-b2b42bbc3455","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ad8d132e-98b9-495e-a61a-b2b42bbc3455"}],"labels":[],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"ome-syslog-kafka-dff","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"3a70a5aa-36df-4977-bb37-69dc3dc49d44"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0771fc4c-5c92-411e-a9f7-cd929bfb018a","instanceIdentifier":null,"name":"SyslogJSONWriter_DFF","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3a70a5aa-36df-4977-bb37-69dc3dc49d44"},{"identifier":"21ec19e5-abfe-4158-9bb4-04644c4eab5a","instanceIdentifier":null,"name":"SyslogReader_DFF","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.syslog.Syslog5424Reader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Character Set":"UTF-8","syslog-5424-reader-raw-message":"false"},"propertyDescriptors":{"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"syslog-5424-reader-raw-message":{"name":"syslog-5424-reader-raw-message","displayName":"Raw message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3a70a5aa-36df-4977-bb37-69dc3dc49d44"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"ome-syslog-kafka-dff","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":null,"parameterProviders":null,"parameterContexts":{"ome-syslog-kafka-dff":{"identifier":"fe16c6b5-f0f2-48c7-b05c-92bc834e64fa","instanceIdentifier":null,"name":"ome-syslog-kafka-dff","comments":null,"position":null,"parameters":[{"name":"filter_rule","description":null,"sensitive":false,"provided":false,"value":"Select * From flowfile"},{"name":"destination_bucket","description":null,"sensitive":false,"provided":false,"value":"dff-converted-files"},{"name":"aws_access_id","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Region","description":null,"sensitive":false,"provided":false,"value":"us-east-2"},{"name":"aws_secret_key","description":null,"sensitive":true,"provided":false,"value":null}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}